*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd, li {margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}
/* CSS Reset code provided by Elad Shechter */

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden - Allow for overflow of Reviews */
}

body {
    height: 100%;
    width: 100%;
    background-image: url(./GhibliStickerPack.jpg);
    background-size: 100%;
    background-repeat: no-repeat; 
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header" 
        "main";
    font-family: 'Roboto Condensed', sans-serif;
    justify-items: center
    /* font-size: 20px;
    font-weight: 400; */
}

.header {
    grid-area: header;
    min-width: 70%;
    position: relative;
    background: rgba(100,181,246 ,0.80);
    border: 0.2em solid white;
    color: black;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
}

.title {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    height: 150px;
    width: 100%;
    padding: 20px;
    z-index: 1;
}

h1 {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    font-size: 30px;
}

.logo {
    align-self: flex-start;
    position: relative;
    min-height: 150px;
    min-width: 100%;
    z-index: 0;
    
}

#logo {
    position: relative;
    height: 130px;
    max-width: 100%;
}

.main {
    grid-area: main;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.movie, .reviews {
    background: rgba(100,181,246 ,0.90);
    color: black;
    border: 0.2em solid white;
    padding: 10px;
}

.select {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
    height: 30px;
    font-size: 18px;
}

.form {
    margin: 40px 0px 20px 0px;
}

.form:focus-within {

}

#reviewSubmission {
    font-family: 'Roboto Condensed', sans-serif;
    width: 400px;
    line-height: 2em;
    font-size: 18px;
}

#submit {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto;
    color: black;
    background-color: skyblue;
    border: 0.2em solid white;
    border-radius: 20%;
    transition: all 0.5s;
    box-sizing: border-box;
    height: 2em;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0,0,0,0.1), inset 0 0 0 rgba(0,0,0,0.1);
    text-align: center;
}

#submit:hover{
    box-shadow: 0 0 2em rgba(0,0,0,0.1), inset 0 0 1em rgba(0,0,0,0.1);
    background: linear-gradient(skyblue,lavender);
    color: white
}

#submit:focus, input:focus, select:focus {
    outline: none;
    border: black dashed;
}

h2 {
    font-size: 28px;
    font-weight: bold
}

.reviewList {
    /* margin-top: 10px; */
    margin-left: 40px;
}

.reviewList:first-child {
    margin-top: 10px;
}

.reviewList > li {
    list-style: square;
    list-style-position: inside
}
